.container {
    margin-top:  20px;
}
.table tbody tr td:first-child{
    width: 95%;
}
.table tbody tr td:nth-last-child(1){
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}
.table tbody tr td:nth-last-child(1):hover{
    background-color: #dcdcdc;
}
.progress {
    height: 5px;
    margin-bottom: 0px;
}
.tablepanel {
    max-height: 550px;
    overflow-y: auto;
}
table {
    word-break:break-all;
    word-wrap:break-word;
}
.table {
    margin-bottom: 0px;
}
.panel-footer {
    text-align: right;
}
.well {
    max-height: 600px;
    overflow-y: auto;
}
.drop-zone {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    border-radius: 4px;
    padding: 80px;
    vertical-align: middle;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.drop-zone h1 {
    font-family: inherit;
    font-weight: bold;
}